#!/usr/bin/env python

from datetime import datetime, timedelta
import time
import MySQLdb

dt = datetime.today() - timedelta(days=20)
last_date = time.mktime(dt.timetuple())
db = MySQLdb.connect(host='{{ mysql_host }}', user='{{ mysql_user }}', passwd='{{ mysql_password }}', db='{{ mysql_database }}')
cursor = db.cursor()
cursor.execute('DELETE FROM inbox_http WHERE timestamp < %s', [last_date])
cursor.execute('DELETE FROM avtomat_log_table WHERE timestamp < %s', [last_date])
cursor.execute('DELETE FROM avtomat_coll_table WHERE timestamp < %s', [last_date])
db.commit()
cursor.execute('OPTIMIZE TABLE inbox_http, avtomat_log_table, avtomat_coll_table')

db.close()
