{% extends 'base.j2' %}

{% block title %}Status of Avtomats{% endblock %}

{% block content %}
    <table class="table table-striped table-hover table-bordered">
        <colgroup>
            <col span="9">
            <col span="5" style="background-color: #F0F8FF;"></col>
        </colgroup>
        <thead>
            <tr>
                <th scope="col">Number</th>
                <th scope="col">Address</th>
                <th scope="col">Time</th>
                <th scope="col">Water counter</th>
                <th scope="col">Money</th>
                <th scope="col">Money App</th>
                <th scope="col">grn</th>
                <th scope="col">kop</th>
                <th scope="col">Price</th>
                <th scope="col" class="text-info">Low water</th>
                <th scope="col" class="text-info">Bill</th>
                <th scope="col" class="text-info">Volt</th>
                <th scope="col" class="text-info">Water</th>
                <th scope="col" class="text-info">Register</th>
            </tr>
        </thead>
        <tbody>
            {% for status in statuses %}
            <tr>
                <td>{{status.number}}</td>
                <td>{{status.address}}</td>
                <td>{{status.timestamp | datetime_from_timestamp}}</td>
                <td>{{status.water_balance}}</td>
                <td>{{status.how_money}}</td>
                <td>{% if status.money_app %}{{status.money_app}}{% endif %}</td>
                <td>{{status.grn}}</td>
                <td>{{status.kop}}</td>
                <td>{{status.water_price}}</td>
                <td>{% if status.ev_water=='СБОЙ' %}<span class="text-danger">Error</span>{% endif %}</td>
                <td>{% if status.ev_bill=='СБОЙ' %}<span class="text-danger">Error</span>{% endif %}</td>
                <td>{% if status.ev_volt=='СБОЙ' %}<span class="text-danger">Error</span>{% endif %}</td>
                <td>{% if status.ev_counter_water=='СБОЙ' %}<span class="text-danger">Error</span>{% endif %}</td>
                <td>{% if status.ev_register=='СБОЙ' %}<span class="text-danger">Error</span>{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}